a {
    color: black;
}

.card-box {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 80vh;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 1%;
    width: 15%;
    text-align: center;
    transition: .5s;
}

.card label {
    margin-bottom: 5px;
}

.card input {
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 5px;
}

.card input:focus {
  box-shadow: 0 0 5px 5px #dbccaa; 
}

.card button {
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 5px;
    transition: .5s;
}

.card button:hover {
    background-color: #dbccaa;
}

.button-box {
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    transform: translateY(620%);
}

.button-box button {
    border: 2.5px black solid;
    border-radius: 10px;
    padding: 10px;
    z-index: 0;
    background-color: #F4EEDF;
    transition: .5s;
    color: black;
}

.button-box button:hover {
    background-color: #dbccaa;
}

@media screen and (max-width: 1280px) and (max-height:720px) {
    .button-box {
        transform: translateY(0%);
    }
}

/* Check Out Page */
table, th, td {
    border:1px solid black;
}

table {
    text-align: center;
    width: 100%;
    height: 50%;
}

th {
    background-color: #F4EEDF;
}

.checkOutBox {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 80vh;
}

td button {
    background-color: rgb(190, 190, 190);
    font-weight: 600;
    border: 0px;
    width: 100%;
    height: 100%;
    transition: .5s;
}

td button:hover {
    background-color: #dbccaa;
}